.imgTable{
  width: 50px;
}
.rowTable {
  margin-top: 30px;
}
.titleProducts {
  margin-left: 60px;
  font-size: 30px;
}
.btnAddProduct {
  margin-right: 20px;
}
.btnColor{
  background-color: green !important;
  border-color: green !important;
  color: white !important;
}