/* NavBar */
.logoNavbar {
  width: 80px;
}
.navbar {
  padding: 30px;
  background-color: black;
}
.navbar h1 {
  color: white;
}
.marginTop {
  margin-top: 20px;
}
.btnNavbar {
  background-color: green !important;
  border-color: green !important;
  color: white !important;
  margin: 5px;
  float: right;
}
.nameUser {
  color:white;
}
/* Slider */
.slider {
  width: 100%;
}
.slider-img{
  width: 100%;
}
/* Section Products */
.divProducts{
  min-height: 600px;
  margin: 80px 60px;
}
.imgCard{
  width: 100%;
  height: 200px;
}
.pPrice{
  margin-top: 10px;
}



